{% extends "base.html" %}

{% block content %}
<h1>Product details</h1>
<table class="table">
    <tr>
        <th>Name</th>
        <td>{{object.name}}</td>
    </tr>
    <tr>
        <th>Cover Image</th>
        <td>
            {% for image in object.productimage_set.all %}
            <img src="{{image.thumbnail.url}}" alt="Cover">
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Price</th>
        <td>{{object.price}}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ object.description|linebreaks }}</td>
    </tr>
    <tr>
        <th>Tags</th>
        <td>{{object.tags.all|join:", "|default:"No tags"}}</td>
    </tr>
    <tr>
        <th>In Stock</th>
        <td>{{object.in_stock|yesno|capfirst}}</td>
    </tr>
    <tr>
        <th>Date Updated</th>
        <td>{{object.date_updated|date:"F Y"}}</td>
    </tr>
</table>

{% endblock %}