html, body {
    height: 100%;
 }

.container{
    min-height: 94%;
 }

.loggedin-info{
    padding: 15px 0px;
    color: #fff;
}

.country-div select{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
/* Basket Update page*/
.basket-update{
    position: relative;
}

.basket-update input[type=checkbox]{
    position: absolute;
    top:7px;
    margin-left: 5px;
}

.basket-update button[type=button] {
    outline:none;
  }
  .basket-update button[type=button]::-moz-focus-inner {
    border: 0;
  }  

.basket-update button[type=button]:focus {
    outline:none;
  } 