{% extends 'base.html' %}


{% block title  %}
    Home
{% endblock title %}


{% block content %}
{% load static %}
<div class="row">
    <div class="col-xs-12">
       
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for slide in slider %}
              <li data-target="#myCarousel" data-slide-to="{{ forloop.counter |add:'-1' }}" 
              class="{% if slide.first_slide %} active {% endif %}"></li>             
              {% endfor %}
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
            {% for slide in slider %} 
              <div class="item {% if slide.first_slide %} active {% endif %}">
                <img src="{{ slide.image.url }}" alt="{{ slide.alt_text }}">
                <div class="carousel-caption">
                  <blockquote>
                    <p>{{ slide.caption_text }}</p>
                    <footer class="color-blue">{{ slide.quoted_by }}</footer>
                  </blockquote>
                   
                  </div>
              </div>
              {% endfor %} 
              
            </div>
          
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          
    </div>
</div>
<div class="bg-1">
<div class="container">
  <h2 class="text-white">Best Sellers</h2>
  <div class="row row-list">
    
    {% for best_seller in best_sellers %}
    <div class="col-lg-3 grid-list-product">
      <div class="well grid-list-product-inner">
        
        {% for image in best_seller.productimage_set.all %}
        <a href="{% url "product" best_seller.slug %}">
        <img class="img-thumbnail img-list" src="{{image.thumbnail.url}}" alt="">
        </a>
        {% endfor %}
                  
        <p class="text-center">{{best_seller.name}}</p>
        <div class="list-bottom-portion">
          <p class="text-center"><strong>${{best_seller.price}}</strong></p>
          <p class="text-center">
            <a class="btn btn-success" href="{% url 'add_to_basket'%}?product_id={{ object.id }}">Add to basket</a>
          </p>
        </div>
        
      </div>
      
    </div>
    {% endfor %}

  </div>
</div>
</div>
{% endblock content %}
    
    