{% extends 'base.html' %}

{% block tittle %}
    Login
{% endblock tittle %}


{% block content %}
    <h2>Login </h2>
    <p>Please fillup the following fields:</p>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group {% if form.email.errors %} has-error has-feedback {% endif %}">
            <label class="col-sm-2 control-label" for="id_email">Email Address:</label>
            <input type="email" class="form-control" id="id_email" name="email" value="{{ form.email.value | default:'' }}">
            {% if form.email.errors %}
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                <div class="alert alert-danger">
                    {{ form.email.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-group {% if form.password.errors %} has-error has-feedback {% endif %}">
            <label class="col-sm-2 control-label" for="id_password">Password:</label>
            <input type="password" class="form-control" id="id_password" name="password" value="{{ form.password.value | default:'' }}">
            {% if form.password1.errors %}
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                <div class="alert alert-danger">
                    {{ form.password1.errors }}
                </div>
            {% endif %}
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>
{% endblock content %}
    
    